<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XLMiaoBo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD035F271D75B75A00BB90F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD035F401D75B75A00BB90F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD035F4B1D75B75A00BB90F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
